*{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Press Start 2p';
    background-color: #B4FF9F;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: 0.5s ease-out;
  }
  
.screen.up {
    margin-top: -100vh;
  }

.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 30px;
    max-width: 1000px;
}

.container1 {
    display: flex;
    margin-bottom: 40px;
}

.container2 {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
    text-align: center;
}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    background-color: #85c7a7;
    border: 3px solid #51aaa3;
    margin-bottom: 2.375rem;
    /* padding: 5px; */
    list-style: none;
    max-width: 200px;
}

h1 {
    display: block;
    font-size: 40px;
}

.player {
    padding: 24px 28px;
    margin: 12px;
    border: 2px solid teal;
    background-color: #FFF7BC;
    font-size:24px;
    cursor: pointer;
}

.player:hover {
 background-color: aqua;
 font-size: larger;
}


.btn {
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(250, 230, 253);
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn:hover {
    background-color: greenyellow;
    font-size: larger;
}
/* 
.min-content {
    width: -moz-min-content;
    width: min-content;
    border: 2px dotted rgb(96, 139, 168);
  }
  .max-content {
    width: -moz-max-content;
    width: max-content;
    border: 2px dotted rgb(96, 139, 168);
  } */
