* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1B2430;
    --secondary-color: #51557E;
    --third-color: #816797;
    --lighter-color: #D6D5A8;
}

body {
    font-family: 'Press Start 2p';
    background-color: var(--primary-color);
    justify-items: center;
    text-align: center;
    text-decoration: none;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    
}

h1 {
    margin: 10px 0 30px;
    color: var(--lighter-color);
}

.container {
    align-items: center;
    justify-content: center;
    max-width: 300px;

}

.boxes {
    hemight: 60px;
    width: 60px;
}

.players {
    display: flex;
    width: auto;
    color: var(--third-color);
    padding: 20px;
}

.player1 .player2 {
    padding: 20px;
    margin: 20px;
}

.boxes {
    display: flex;
    margin: 20px;
    height: 70vh;
    width: 90%;
    background-color: aliceblue;
    margin: 5px;
}

.boxes .box {
    object-fit: cover;
    margin: 10px;
    height: 300px;
    width: 300px;
    max-width: 100%;
}

.box {
    margin: 5px;
}

.btn {
    border: 0;
    background-color: var(--secondary-color);
    color: pink;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
    border-radius: 15px;
    letter-spacing: 2px;
    position: relative;
    margin: 10px 0;
    text-transform: uppercase;
  }

.btn:hover {
    opacity: 0.9;
  }

button:focus {
    outline: none;
  }

button .circle {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

.reset-btn {
    margin: 20px;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: 0.5s ease-out;
  }
  
.screen.up {
    margin-top: -100vh;
  }

.game-container {
    position: relative;
  }


  @keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}